body {
  margin: 0;
  padding: 0;
  line-height: 1.25;
  font-family: sans-serif;
  text-align: center;
}

a {
    text-decoration: none;
}

.header {
    position: fixed;
    width: 95%;
    top: 0px;
}

.right {
    margin-left: auto;
}
